<!doctype html>

<html lang="tr">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgo=">
    <title>Kullanıcı Listesi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Kullanıcılar</h2>
    <form id="insert-form" class="hide" onsubmit="return false;">
        <input type="text" name="name" id="insert-name" required>
        <button onclick="users.insert()">Ekle</button>
    </form>
    <form id="update-form" class="hide" onsubmit="return false;">
        <input type="text" name="name" id="update-name" required>
        <button onclick="users.update()">Düzenle</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>İsim</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>